<div id="blog-posts">
	<div class="row justify-content-md-center">
		<div class="col-lg-10 col-md-11">
			<div class="header container-fluid">
				<h1>
					Blog
				</h1>
			</div>
		</div>
	</div>

	<% @posts.each do |post| %>
		<div class="row justify-content-md-center">
			<div class="col-lg-10 col-md-11">
				<div class="box container-fluid">
					<%= link_to post.link do %>
						<h3><%= post.title %></h3>
						<%= post.published %>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
</div>
