<div class="container-fluid white" style="padding-top:4em">
	<h2>Lorem Ipsums</h2>
	<hr>
	<h4>New</h4>
	<%= simple_form_for @lorem, url: tools_lorem_ipsum_index_path do |f| %>
		<%= render 'form_fields', f: f %>
	<% end %>
</div>
