<div class="white">
	<h1><br>Projects:</h1>

	<ul>
		<li>
			React Search using Big Data - eg. http://data.un.org/Data.aspx?d=EDATA&f=cmID%3aEW
		</li>
		<li>
			Lorem Ipsum API
		</li>
		<li>
			Resume Builder
		</li>
		<li>
			Safety Spot
		</li>
		<li>
			PDF Builder
		</li>
		<li>
			Youtube Player (API) to shuffle through my Fave vids
		</li>
	</ul>
</div>
