.slim {
	font-weight: 200;
	small {
		font-weight: 200;
	}
}

.white {
	background-color: #fff;
}

.home-container {
	height:100%;
	// background-color:#f7f8f9;
	background-color: #f8f7f9;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	.home-row {
		height:100%;
		.left-cols {
			background-color:#fff;
			height:100%;
			box-shadow:0px 0px 4px 2px hsla(0, 0%, 89%, 0.5);
			.personal-info {
				padding-top: 5em;
				.prof-pic {
					width: 100px;
				    margin: 0 auto 0.5em;
				    display: block;
				    border-radius: 300px;
				}
				a {
					color: $font-color;
					&:hover {
						text-decoration: none;
					}
				}
			}
			.action-list {
				a {
					margin-top: 1em;
				}
			}
		}
		.right-cols {
			overflow: scroll;
			padding-bottom: 5em;
		}
	}
}

@media(max-width: 768px) {
	.home-container .home-row {
		height:auto;
	}
	.home-container .home-row .left-cols .personal-info {
		padding-top: 0;
	}
}
